# Environment variables for the AutoParts backend application
SERVER_URL=ServerURL
PORT=PortNumber

# PostgreSQL Database Configuration
PG_PASSWORD=PostgreSQLPassword
PG_USER=PostgreSQLUser
PG_HOST=PostgreSQLHost
PG_PORT=PostgreSQLPort
PG_DATABASE=PostgreSQLDatabase

# JWT Secret Key
JWT_SECRET=JWTSecretKey

# Cloudinary Configuration (for image uploads)
CLOUDINARY_CLOUD_NAME=CloudinaryCloudName
CLOUDINARY_API_KEY=CloudinaryApiKey
CLOUDINARY_API_SECRET=CloudinaryApiSecret

# Sentry DSN
SENTRY_DSN=SentryDSN
NODE_ENV=environment